.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.navbar-bg {
    background-color: rgb(0, 0, 0, 0.85);
    transition: 0.5s;
}

.navbar a {
    text-decoration: none;
}

.navbar a h1 {
    color: #fff;
    letter-spacing: -3px;
}

.navbarMenu {
    display: flex;
    list-style-type: none;
}

.navbarMenu li {
    padding: 0 1rem;
}

.navbarMenu li a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.hamburgur {
    display: none;
}

@media screen and  (max-width: 1040px) {
    .navbarMenu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .navbarMenu.active {
        left: 0;
    }

    .navbarMenu li {
        padding: 1rem 0;
    }

    .navbarMenu li a {
        font-size: 2rem;
    }

    .hamburgur {
        display: initial;
    }

}
