.projectHeading {
    text-align: center;
    padding: 4rem 0 2rem 0;
    font-size: 2.4rem;
    color: #fff;
}

.projectContainer {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.projectCard {
    background-color: #1a1919;
    padding: 1.2rem 1rem;
    border-radius: 5px;
}

.projectCard img {
    width: 100%;
    border-radius: 5px;
}

.projectTitle {
    color: #fff;
    padding: 1rem 0;
}

.projectDetails p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

.projectButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.projectButtons .button {
    background-color: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px) {
    .projectContainer {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}